@use 'base';
@use 'layout/header';
@use 'components/button';
@use 'layout/main-menu';
@use 'components/description';
@use 'components/card';
@use 'layout/footer';

.testimonials-container {
  text-align: center;
  color: var(--Grayish-blue);
  padding-top: 3em;
  padding-bottom: 4.1em;

  @media screen and (min-width: 1024px) {
    padding-top: 8em;
  }
}

.client-title {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 900;
  letter-spacing: 0.2rem;

  @media screen and (min-width: 1024px) {
    font-size: 1.1rem;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    padding-top: 1em;
    padding-bottom: 4.2em;
  }
}

.gallery {
  background-color: blue;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
  }

  &__img {
    width: 100%;
  }
}
