mixin social-net(name)
    li(class="social__item"): a(class="social__link" href=`http://www.${name}.com` target="_blank" aria-label= `ir a ${name}`)
        img(src=`assets/images/icon-${name}.svg`, alt=`${name} logo`) 