.description-container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: 1024px) {
    text-align: left;
    grid-template-columns: 1fr 1fr;
  }
}

.description {
  color: var(--Dark-grayish-blue);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__image {
    width: 100%;
  }

  &__text {
    padding: 2em 1em 3.5em;
    width: 100%;
    max-width: 492px;
  }

  &__text--cover {
    position: absolute;
    padding-bottom: 1em;
    bottom: 0;
    max-width: 375px;

    @media screen and (min-width: 1024px) {
      left: 50%;
      transform: translate(-50%);
    }
  }

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    justify-content: flex-start;
    gap: 92px;
    grid-column: span 2;
    &--transform {
      flex-direction: row-reverse;
    }
    &__image {
      width: 50%;
      flex-shrink: 0;
    }
  }

  &__title {
    font-size: 1.85rem;
    font-weight: 900;
    color: var(--Very-dark-desaturated-blue);

    @media screen and (min-width: 1024px) {
      font-size: 2.2rem;
    }

    &--cover {
      font-size: 1.5rem;
      color: inherit;
      margin-bottom: 1.2em;
    }
  }

  &__paragraph {
    font-family: "Barlow", sans-serif;
    font-size: 1.02rem;
    line-height: 1.67;
    margin-bottom: 0;
    padding-bottom: 2em;

    &--cover {
      font-size: 0.9rem;
    }
  }

  &--graphic-design,
  &--photography {
    @media screen and (min-width: 1024px) {
      text-align: center;
      grid-column: span 1;
      img {
        width: 100%;
      }
    }
  }

  &--graphic-design {
    color: var(--Dark-desaturated-cyan);
  }

  &--photography {
    color: var(--Dark-blue);
  }

  &__link {
    text-transform: uppercase;
    color: var(--Very-dark-desaturated-blue);
    font-size: 0.92rem;
    font-weight: 900;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 138px;
      height: 10px;
      border-radius: 5px;
      background-color: var(--Yellow);
      opacity: 30%;
      top: 13px;
      left: -9px;
      z-index: -1;
    }

    &--pink::before {
      background-color: var(--Soft-red);
    }

    @media screen and (min-width: 1280px) {
      &:hover::before {
        opacity: 100%;
      }
    }
  }
}
