- const descriptions = [{title: "Transform your brand", paragraph: "We are a full-service creative agency specializing in helping brands grow fast. Engage your clients through compelling visuals that do most of the marketing for you.", image: "transform", extra: "transform", haveLink: true}, {title: "Stand out to the right audience", paragraph: "Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we’ll build and extend your brand in digital places.", image: "stand-out", extra: "stand-out", haveLink: true, pink: true}, {title: "Graphic design", paragraph: "Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients’ attention.", image: "graphic-design", extra: "graphic-design"}, {title: "Photography", paragraph: "Increase your credibility by getting the most stunning, high-quality photos that improve your business image.", image: "photography", extra: "photography"}]


.description-container
    each desc in descriptions 
        +description(desc)