footer.footer 
    img(class="footer__logo" src="assets/images/logo.svg", alt="sunnyside logo")
    ul.sitemap 
        +menu-item("About", "sitemap")
        +menu-item("Services", "sitemap")
        +menu-item("Projects", "sitemap")
    ul.socials 
        +social-net("facebook")
        +social-net("instagram")
        +social-net("twitter")
        +social-net("pinterest")