header.header
    .nav-container
        img.sunnyside-logo(src="assets/images/logo.svg", alt="sunnyside logo")
        nav.menu-container 
            button.menu-button#menu-button(aria-label="Menu"): img(src="assets/images/icon-hamburger.svg", alt="")
            ul.main-menu.main-menu--hide#main-menu
                +menu-item("About", "main-menu")
                +menu-item("Services", "main-menu")
                +menu-item("Projects", "main-menu")
                +menu-item("Contact", "main-menu") 
    h1.title WE ARE CREATIVES
    img.arrow-down(src="assets/images/icon-arrow-down.svg", alt="")